.bubble {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    border-radius: 100%;
    background-color: #fff;

    &.bubble--extra-small {
        width: 2px;
        height: 2px;
    }

    &.bubble--small {
        width: 3px;
        height: 3px;
    }

    &.bubble--medium {
        width: 5px;
        height: 5px;
    }

    &.bubble--large {
        width: 8px;
        height: 8px;
    }
}