.home-banner {
    width: 100%;
    height: 100vh;
    padding-top: 236px;
    padding-right: 15px;
    padding-bottom: 250px;
    padding-left: 15px;
    background-image: url("../img/pattern.png"), url("../img/img-1.jpg");
    background-repeat: repeat, no-repeat;
    background-position: center, 50% 50%;
    background-size: auto, auto;
    overflow: hidden;
    text-align: center;

    .home-banner__inner {
        width: 100%;
        margin: 0 auto;
    }

    .home-banner__text-content {
        margin-bottom: 98px;
    }

    .home-banner__logo-wrapper {
        text-align: center;
    }

    .home-banner__logo {
        margin-bottom: 23px;
    }

    .home-banner__phrase {
        font-style: italic;
        font-family: "Roboto-regular", sans-serif;
    }

    @media screen and (max-width: 1200px) {
        max-width: 1170px;

    }

    @media screen and (max-width: 1024px) {
        .home-banner__text-content {
            margin-bottom: 5%;
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 177px;
        padding-bottom: 157px;

        .home-banner__inner {
            max-width: 335px;
        }
    }

}