.news-letter {
    padding-top: 100px;
    padding-bottom: 100px;

    .news-letter__body {
        width: 100%;
        max-width: 555px;
        margin: 0 auto;
        text-align: center;
    }

    .news-letter__title strong {
        font-size: 18px;
    }

    .news-letter__description {
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "Roboto-Regular", sans-serif;
    }

    .news-letter__inputs {
        display: flex;
        width: 100%;
        max-width: 555px;
        height: 46px;
        margin: auto;
        border: 4px solid #000;
        border-radius: 2px;
        font-size: 0;
    }

    .news-letter__email {
        width: 100%;
        max-width: 459px;
        height: 100%;
        padding-left: 14px;
        font-size: 14px;
        font-family: "Roboto-Regular", sans-serif;
        border-right: 4px solid #000;

        &:focus {
            color: #fff;
            background-image: url("../img/pattern.png");
        }
    }

    .news-letter__submit {
        width: 88px;
        height: 38px;
    }
}