.news-letter {
    padding-top: 100px;
    padding-bottom: 100px;

    .news-letter__body {
        width: 100%;
        max-width: 555px;
        margin: 0 auto;
        text-align: center;
    }

    .news-letter__title strong {
        font-size: 18px;
    }

    .news-letter__description {
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "Roboto-Regular", sans-serif;
    }

    .news-letter__inputs {
        display: flex;
        width: 100%;
        height: 46px;
        margin: auto;
        font-size: 0;
    }

    .news-letter__email {
        width: 100%;
        max-width: 459px;
        height: 45px;
        padding-left: 14px;
        font-size: 14px;
        font-family: "Roboto-Regular", sans-serif;
        border: 3px solid #000;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        &:focus {
            color: #fff;
            background-image: url("../img/pattern.png");
        }
    }

    .news-letter__submit {
        width: 90px;
        height: 45px;
        font-weight: 700;
        border: 3px solid #000;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    @media screen and (max-width: 767px) {
        .news-letter__body,
        .news-letter__email {
            max-width: 100%;
        }
    }
}