.simplebar-scrollbar {

    &:before {
        background-color: rgb(66, 66, 66);
        border-radius: 0;
    }

    &.simplebar-visible:before {
        opacity: 1;
        transition: opacity .1s linear;
    }
}
