// .scroll {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 7px;
//     height: 100vh;
//     background-color: rebeccapurple;

   
// }
.scrollbar {
    position: absolute;
    right: 0;
    width: 7px;
    background-color: rgb(66, 66, 66);
}