.timer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .timer__counter {
        width: 25%;

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }
    }

    .timer__count {
        display: block;
        padding-bottom: 28px;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 60px;
        letter-spacing: 4px;
    }

    .timer__text {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #bbbbbb;
    }

    @media (min-width: 560px) and (max-width: 1024px) {
        .timer__counter {
            padding-bottom: 10px;
        }

        .timer__count {
            height: 80px;
            padding-right: 15px;
            padding-bottom: 0;
            padding-left: 15px;
            font-size: 40px;
            line-height: 80px;
        }
    }

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;

        .timer__counter {
            width: 50%;
        }
    }
}